/* Constants */
$textColor: #282c34;
$highlightColor: #09d3ac;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h1 {
  color: $textColor;
}

p {
  color: $textColor;
  margin: 20px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  position: fixed;
  bottom: 0px;
  font-size: 14pt;
  color: $textColor;
  text-decoration: none;
  background-color: $highlightColor;
  width: 100%;
  height: 28px;
}

button {
  width: 100px;
  height: 40px;
  color: $highlightColor;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#search {
  margin-top: 20px;
  padding: 10px;
  bottom: 0px;
  display: none;
  width: 100%;
  background-color: black;
}
